@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.25;
}

.prose p {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
  line-height: 1.5 !important;
}

.prose ol,
.prose ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2em;
}

.prose li {
  margin-bottom: 0.25rem;
}

.prose code,
.prose kbd,
.prose pre {
  font-size: 0.9em;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.prose code,
.prose kbd {
  padding: 0.1em 0.3em;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: rgba(27, 31, 35, 0.05);
}

.prose pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1em;
  font-size: 0.9em;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 0.3em;
}
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}


a {
  color: inherit;
  text-decoration: none;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  margin: 1rem 0;
}

input,
textarea,
select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button[type='submit'] {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.phoneInput {
  display: flex;
  gap: 0.5rem;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
button[type='submit']:hover {
  background-color: #1a73e8;
}
.check{
  margin-left: 5px;
}
legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */